In [1]:
f=open("data.csv","w")
f.write("some data")

9

In [2]:
f.close()

In [1]:
f=open("data.csv","w")

In [2]:
f=open("data.csv","w")
l=["jayaram","vedhanvesh","sai","dhana","danush"]
f.write(l)
f.close()

TypeError: write() argument must be str, not list

In [3]:
f=open("data.csv","w")
l=["jayaram","vedhanvesh","sai","dhana","danush"]
f.writelines(l)
f.close()

In [4]:
f=open("data.csv","w")
l=["jayaram\n","vedhanvesh\n","sai\n","dhana\n","danush\n"]
f.writelines(l)
f.close()

In [5]:
f.write("data after close")

ValueError: I/O operation on closed file.

In [6]:
f=open("data.csv","w")
l=["jayaram\n","vedhanvesh\n","sai\n","dhana\n","danush\n"]
f.writelines(l)
print(1/0)
f.close()

ZeroDivisionError: division by zero

In [7]:
f=open("data.csv","w")
l=["jayaram\n","vedhanvesh\n","sai\n","dhana\n","danush\n"]
f.writelines(l)
f.flush()
f.write("data after flsuh\n")
print(1/0)
f.close()

ZeroDivisionError: division by zero

In [8]:
f=open("data.csv","w")
l=["jayaram\n","vedhanvesh\n","sai\n","dhana\n","danush\n"]
f.writelines(l)
f.flush()
f.write("data after flsuh\n")
f.flush()
print(1/0)
f.close()

ZeroDivisionError: division by zero

In [11]:
f=open("data.csv","a")
f.write("\ndata writing in append mode.")
f.close()

In [12]:
f=open("data.csv","w")
f.write("\ndata writing in append mode.")
f.close()

In [14]:
import random
names=["kaushik","sanjay","shravani","madhuri"]
weights=[60,70,80,50,40]
sals=[12,10,7,8,9,34,23,46]
f=open("data.csv","w")
f.write("NAME,WEIGHT,SALARY\n")
for i in range(100):
    row = '%s,%s,%s\n'%(random.choice(names),random.choice(weights),random.choice(sals))
    f.write(row)
    f.flush()
f.close()

In [15]:
f=open("data.csv","r")
data=f.read()
print(data)

NAME,WEIGHT,SALARY
kaushik,50,12
madhuri,60,34
madhuri,80,10
sanjay,60,8
sanjay,50,8
sanjay,60,10
shravani,70,8
madhuri,80,46
shravani,70,7
madhuri,50,46
kaushik,40,23
shravani,60,7
kaushik,50,12
madhuri,70,9
shravani,40,9
madhuri,80,34
madhuri,70,46
madhuri,70,9
kaushik,50,8
sanjay,70,23
madhuri,50,12
madhuri,50,34
madhuri,70,7
madhuri,80,10
madhuri,50,46
shravani,50,46
madhuri,60,12
sanjay,60,34
kaushik,60,34
sanjay,50,23
kaushik,50,34
madhuri,50,9
sanjay,60,7
shravani,80,9
madhuri,60,12
madhuri,40,8
kaushik,60,9
shravani,50,8
kaushik,50,10
sanjay,50,12
shravani,80,10
kaushik,50,23
madhuri,50,34
shravani,50,34
sanjay,80,23
shravani,70,12
madhuri,80,23
shravani,50,8
madhuri,50,34
madhuri,50,34
shravani,80,10
kaushik,40,9
shravani,40,12
kaushik,80,9
madhuri,40,7
kaushik,80,7
kaushik,50,23
madhuri,60,8
shravani,40,7
kaushik,70,12
madhuri,70,9
sanjay,50,23
sanjay,70,12
shravani,60,46
madhuri,70,12
sanjay,80,23
shravani,70,34
madhuri,80,7
madhuri,70,12
sanjay,70,12
madhuri,80,10
kaushik,40,10
shravani,60,8
shravani,60,34
madhuri,60,10
madhuri,80,23
shravani,40,10
sanjay,80,7
sanjay,70,7
madhuri,60,8
shravani,60,12
sanjay,60,34
shravani,50,8
shravani,60,46
sanjay,80,7
sanjay,40,10
sanjay,40,8
shravani,50,23
sanjay,50,23
sanjay,70,23
shravani,80,46
sanjay,50,10
sanjay,50,12
kaushik,50,10
kaushik,80,9
madhuri,60,34
madhuri,80,23
sanjay,60,8
madhuri,60,34
sanjay,50,7

In [16]:
f=open("data.csv","r")
data=f.read()
print(type(data))

<class 'str'>

In [17]:
f=open("data.csv","r")
data=f.read(100)
data1=f.read(100)
data2=f.read(100)
print(data2)

uri,70,9
shravani,40,9
madhuri,80,34
madhuri,70,46
madhuri,70,9
kaushik,50,8
sanjay,70,23
madhuri,50

In [19]:
f=open("data.csv","r")
f.readline()

'NAME,WEIGHT,SALARY\n'

In [20]:
f.readline()

'kaushik,50,12\n'

In [21]:
f.readline()

'madhuri,60,34\n'

In [22]:
f.readline()

'madhuri,80,10\n'

In [23]:
f=open("data.csv","r")
f.readlines()

['NAME,WEIGHT,SALARY\n',
 'kaushik,50,12\n',
 'madhuri,60,34\n',
 'madhuri,80,10\n',
 'sanjay,60,8\n',
 'sanjay,50,8\n',
 'sanjay,60,10\n',
 'shravani,70,8\n',
 'madhuri,80,46\n',
 'shravani,70,7\n',
 'madhuri,50,46\n',
 'kaushik,40,23\n',
 'shravani,60,7\n',
 'kaushik,50,12\n',
 'madhuri,70,9\n',
 'shravani,40,9\n',
 'madhuri,80,34\n',
 'madhuri,70,46\n',
 'madhuri,70,9\n',
 'kaushik,50,8\n',
 'sanjay,70,23\n',
 'madhuri,50,12\n',
 'madhuri,50,34\n',
 'madhuri,70,7\n',
 'madhuri,80,10\n',
 'madhuri,50,46\n',
 'shravani,50,46\n',
 'madhuri,60,12\n',
 'sanjay,60,34\n',
 'kaushik,60,34\n',
 'sanjay,50,23\n',
 'kaushik,50,34\n',
 'madhuri,50,9\n',
 'sanjay,60,7\n',
 'shravani,80,9\n',
 'madhuri,60,12\n',
 'madhuri,40,8\n',
 'kaushik,60,9\n',
 'shravani,50,8\n',
 'kaushik,50,10\n',
 'sanjay,50,12\n',
 'shravani,80,10\n',
 'kaushik,50,23\n',
 'madhuri,50,34\n',
 'shravani,50,34\n',
 'sanjay,80,23\n',
 'shravani,70,12\n',
 'madhuri,80,23\n',
 'shravani,50,8\n',
 'madhuri,50,34\n',
 'madhuri,50,34\n',
 'shravani,80,10\n',
 'kaushik,40,9\n',
 'shravani,40,12\n',
 'kaushik,80,9\n',
 'madhuri,40,7\n',
 'kaushik,80,7\n',
 'kaushik,50,23\n',
 'madhuri,60,8\n',
 'shravani,40,7\n',
 'kaushik,70,12\n',
 'madhuri,70,9\n',
 'sanjay,50,23\n',
 'sanjay,70,12\n',
 'shravani,60,46\n',
 'madhuri,70,12\n',
 'sanjay,80,23\n',
 'shravani,70,34\n',
 'madhuri,80,7\n',
 'madhuri,70,12\n',
 'sanjay,70,12\n',
 'madhuri,80,10\n',
 'kaushik,40,10\n',
 'shravani,60,8\n',
 'shravani,60,34\n',
 'madhuri,60,10\n',
 'madhuri,80,23\n',
 'shravani,40,10\n',
 'sanjay,80,7\n',
 'sanjay,70,7\n',
 'madhuri,60,8\n',
 'shravani,60,12\n',
 'sanjay,60,34\n',
 'shravani,50,8\n',
 'shravani,60,46\n',
 'sanjay,80,7\n',
 'sanjay,40,10\n',
 'sanjay,40,8\n',
 'shravani,50,23\n',
 'sanjay,50,23\n',
 'sanjay,70,23\n',
 'shravani,80,46\n',
 'sanjay,50,10\n',
 'sanjay,50,12\n',
 'kaushik,50,10\n',
 'kaushik,80,9\n',
 'madhuri,60,34\n',
 'madhuri,80,23\n',
 'sanjay,60,8\n',
 'madhuri,60,34\n',
 'sanjay,50,7\n']

In [24]:
f=open("data.csv","r")
for i in f:
    print(i)

NAME,WEIGHT,SALARY

kaushik,50,12

madhuri,60,34

madhuri,80,10

sanjay,60,8

sanjay,50,8

sanjay,60,10

shravani,70,8

madhuri,80,46

shravani,70,7

madhuri,50,46

kaushik,40,23

shravani,60,7

kaushik,50,12

madhuri,70,9

shravani,40,9

madhuri,80,34

madhuri,70,46

madhuri,70,9

kaushik,50,8

sanjay,70,23

madhuri,50,12

madhuri,50,34

madhuri,70,7

madhuri,80,10

madhuri,50,46

shravani,50,46

madhuri,60,12

sanjay,60,34

kaushik,60,34

sanjay,50,23

kaushik,50,34

madhuri,50,9

sanjay,60,7

shravani,80,9

madhuri,60,12

madhuri,40,8

kaushik,60,9

shravani,50,8

kaushik,50,10

sanjay,50,12

shravani,80,10

kaushik,50,23

madhuri,50,34

shravani,50,34

sanjay,80,23

shravani,70,12

madhuri,80,23

shravani,50,8

madhuri,50,34

madhuri,50,34

shravani,80,10

kaushik,40,9

shravani,40,12

kaushik,80,9

madhuri,40,7

kaushik,80,7

kaushik,50,23

madhuri,60,8

shravani,40,7

kaushik,70,12

madhuri,70,9

sanjay,50,23

sanjay,70,12

shravani,60,46

madhuri,70,12

sanjay,80,23

shravani,70,34

madhuri,80,7

madhuri,70,12

sanjay,70,12

madhuri,80,10

kaushik,40,10

shravani,60,8

shravani,60,34

madhuri,60,10

madhuri,80,23

shravani,40,10

sanjay,80,7

sanjay,70,7

madhuri,60,8

shravani,60,12

sanjay,60,34

shravani,50,8

shravani,60,46

sanjay,80,7

sanjay,40,10

sanjay,40,8

shravani,50,23

sanjay,50,23

sanjay,70,23

shravani,80,46

sanjay,50,10

sanjay,50,12

kaushik,50,10

kaushik,80,9

madhuri,60,34

madhuri,80,23

sanjay,60,8

madhuri,60,34

sanjay,50,7

In [26]:
f=open("data.csv","r")
for row in f:
    print(row.split(","))
    break

['NAME', 'WEIGHT', 'SALARY\n']

In [27]:
f=open("data.csv","r")
for row in f:
    print(row.split(",")[-1])
    break

SALARY

In [32]:
f=open("data.csv","r")
f.readline()
salaries = []
for row in f:
    sal = row.split(",")[-1].strip()
    salaries.append(int(sal))
print(salaries)

[12, 34, 10, 8, 8, 10, 8, 46, 7, 46, 23, 7, 12, 9, 9, 34, 46, 9, 8, 23, 12, 34, 7, 10, 46, 46, 12, 34, 34, 23, 34, 9, 7, 9, 12, 8, 9, 8, 10, 12, 10, 23, 34, 34, 23, 12, 23, 8, 34, 34, 10, 9, 12, 9, 7, 7, 23, 8, 7, 12, 9, 23, 12, 46, 12, 23, 34, 7, 12, 12, 10, 10, 8, 34, 10, 23, 10, 7, 7, 8, 12, 34, 8, 46, 7, 10, 8, 23, 23, 23, 46, 10, 12, 10, 9, 34, 23, 8, 34, 7]

In [33]:
max(salaries)

46

In [34]:
min(salaries)

7

In [35]:
sum(salaries)/len(salaries)

17.88

In [36]:
import pandas as pd

In [38]:
df = pd.read_csv("data.csv")
print(df)

        NAME  WEIGHT  SALARY
0    kaushik      50      12
1    madhuri      60      34
2    madhuri      80      10
3     sanjay      60       8
4     sanjay      50       8
5     sanjay      60      10
6   shravani      70       8
7    madhuri      80      46
8   shravani      70       7
9    madhuri      50      46
10   kaushik      40      23
11  shravani      60       7
12   kaushik      50      12
13   madhuri      70       9
14  shravani      40       9
15   madhuri      80      34
16   madhuri      70      46
17   madhuri      70       9
18   kaushik      50       8
19    sanjay      70      23
20   madhuri      50      12
21   madhuri      50      34
22   madhuri      70       7
23   madhuri      80      10
24   madhuri      50      46
25  shravani      50      46
26   madhuri      60      12
27    sanjay      60      34
28   kaushik      60      34
29    sanjay      50      23
..       ...     ...     ...
70   madhuri      80      10
71   kaushik      40      10
72  shravani      60       8
73  shravani      60      34
74   madhuri      60      10
75   madhuri      80      23
76  shravani      40      10
77    sanjay      80       7
78    sanjay      70       7
79   madhuri      60       8
80  shravani      60      12
81    sanjay      60      34
82  shravani      50       8
83  shravani      60      46
84    sanjay      80       7
85    sanjay      40      10
86    sanjay      40       8
87  shravani      50      23
88    sanjay      50      23
89    sanjay      70      23
90  shravani      80      46
91    sanjay      50      10
92    sanjay      50      12
93   kaushik      50      10
94   kaushik      80       9
95   madhuri      60      34
96   madhuri      80      23
97    sanjay      60       8
98   madhuri      60      34
99    sanjay      50       7

[100 rows x 3 columns]

In [39]:
df.head(5)

      NAME  WEIGHT  SALARY
0  kaushik      50      12
1  madhuri      60      34
2  madhuri      80      10
3   sanjay      60       8
4   sanjay      50       8

In [40]:
df.tail(5)

       NAME  WEIGHT  SALARY
95  madhuri      60      34
96  madhuri      80      23
97   sanjay      60       8
98  madhuri      60      34
99   sanjay      50       7

In [42]:
df.SALARY

0     12
1     34
2     10
3      8
4      8
5     10
6      8
7     46
8      7
9     46
10    23
11     7
12    12
13     9
14     9
15    34
16    46
17     9
18     8
19    23
20    12
21    34
22     7
23    10
24    46
25    46
26    12
27    34
28    34
29    23
      ..
70    10
71    10
72     8
73    34
74    10
75    23
76    10
77     7
78     7
79     8
80    12
81    34
82     8
83    46
84     7
85    10
86     8
87    23
88    23
89    23
90    46
91    10
92    12
93    10
94     9
95    34
96    23
97     8
98    34
99     7
Name: SALARY, Length: 100, dtype: int64

In [43]:
df.SALARY.max()

46

In [44]:
df.SALARY.min()

7

In [45]:
df.SALARY.mean()

17.88

In [46]:
df[df.SALARY==df.SALARY.max()]

        NAME  WEIGHT  SALARY
7    madhuri      80      46
9    madhuri      50      46
16   madhuri      70      46
24   madhuri      50      46
25  shravani      50      46
63  shravani      60      46
83  shravani      60      46
90  shravani      80      46

In [47]:
data=pd.read_html("https://www.w3schools.com/html/html_tables.asp")

In [48]:
for table in data:
    print(table)

                              0                 1        2
0                       Company           Contact  Country
1           Alfreds Futterkiste      Maria Anders  Germany
2    Centro comercial Moctezuma   Francisco Chang   Mexico
3                  Ernst Handel     Roland Mendel  Austria
4                Island Trading     Helen Bennett       UK
5  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
6  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy
             0                                                  1
0          Tag                                        Description
1      <table>                                    Defines a table
2         <th>                   Defines a header cell in a table
3         <tr>                           Defines a row in a table
4         <td>                          Defines a cell in a table
5    <caption>                            Defines a table caption
6   <colgroup>  Specifies a group of one or more columns in a ...
7        <col>  Specifies column properties for each column wi...
8      <thead>               Groups the header content in a table
9      <tbody>                 Groups the body content in a table
10     <tfoot>               Groups the footer content in a table

In [49]:
f=open("data.json","r")
data=f.read()
print(type(data),data)

<class 'str'> {
    "glossary": {
        "title": "example glossary",
		"GlossDiv": {
            "title": "S",
			"GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
					"SortAs": "SGML",
					"GlossTerm": "Standard Generalized Markup Language",
					"Acronym": "SGML",
					"Abbrev": "ISO 8879:1986",
					"GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
						"GlossSeeAlso": ["GML", "XML"]
                    },
					"GlossSee": "markup"
                }
            }
        }
    }
}

In [51]:
import json
f=open("data.json","r")
#data=f.read()
data=json.load(f)
print(type(data),data)

<class 'dict'> {'glossary': {'title': 'example glossary', 'GlossDiv': {'title': 'S', 'GlossList': {'GlossEntry': {'ID': 'SGML', 'SortAs': 'SGML', 'GlossTerm': 'Standard Generalized Markup Language', 'Acronym': 'SGML', 'Abbrev': 'ISO 8879:1986', 'GlossDef': {'para': 'A meta-markup language, used to create markup languages such as DocBook.', 'GlossSeeAlso': ['GML', 'XML']}, 'GlossSee': 'markup'}}}}}

In [54]:
import yaml
f=open("data.yml","r")
#data=f.read()
data=yaml.load(f)
print(type(data),data)

<class 'dict'> {'environment': 'production', 'classes': {'nfs::server': {'exports': ['/srv/share1', '/srv/share3']}}, 'parameters': None}

In [55]:
f=open("data.csv","r")
data=f.read()
print (data[:15])

NAME,WEIGHT,SAL

In [57]:
f=open("data.csv","r")
data=f.read()
print (data[:15])
data1=f.read()
print(data1)

NAME,WEIGHT,SAL

In [58]:
f=open("data.csv","r")
print("opened in read mode:",f.tell())
data=f.read()
print("after first read:",f.tell())
print (data[:15])
data1=f.read()
print("after second read:",f.tell())
print(data1)

opened in read mode: 0
after first read: 1383
NAME,WEIGHT,SAL
after second read: 1383

In [59]:
f=open("data.csv","r")
print("opened in read mode:",f.tell())
data=f.read()
print("after first read:",f.tell())
print (data[:15])
data1=f.read()
print("after second read:",f.tell())
print(data1)
f.seek(50)
print("after seek to 50 read:",f.tell())
data2=f.read()
print(data2[:15])

opened in read mode: 0
after first read: 1383
NAME,WEIGHT,SAL
after second read: 1383

after seek to 50 read: 50
huri,80,10
sanj

In [61]:
data=open("data1.csv","w")
data=[{"name":"jay","age":1.9},{"name":"VEDHA","age":0.7}]
f.write(data)
f.close()

TypeError: write() argument must be str, not list

In [62]:
data=open("data1.csv","w")
data=[{"name":"jay","age":1.9},{"name":"VEDHA","age":0.7}]
f.writelines(data)
f.close()

TypeError: write() argument must be str, not dict

In [63]:
data=open("data1.csv","w")
data=[{"name":"jay","age":1.9},{"name":"VEDHA","age":0.7}]
f.write(str(data))
f.close()

UnsupportedOperation: not writable

In [65]:
data=open("data1.csv","w")
data=[{"name":"jay","age":1.9},{"name":"VEDHA","age":0.7}]
data1=str(data)
print(data1, type(data1))

[{'name': 'jay', 'age': 1.9}, {'name': 'VEDHA', 'age': 0.7}] <class 'str'>

In [67]:
f=open("data1.csv","w")
data=[{"name":"jay","age":1.9},{"name":"VEDHA","age":0.7}]
data1=str(data)
f.write(data1)
f.close()

In [68]:
f=open("data1.csv","r")
data=f.read()
print (data, type(data))

[{'name': 'jay', 'age': 1.9}, {'name': 'VEDHA', 'age': 0.7}] <class 'str'>

In [69]:
for i in data:
    print(i)

[
{
'
n
a
m
e
'
:

'
j
a
y
'
,

'
a
g
e
'
:

1
.
9
}
,

{
'
n
a
m
e
'
:

'
V
E
D
H
A
'
,

'
a
g
e
'
:

0
.
7
}
]

In [75]:
import pickle
f=open("data1.csv","w")
data=[{"name":"jay","age":1.9},{"name":"VEDHA","age":0.7}]
pickle.dump(data,f)
f.close()

TypeError: write() argument must be str, not bytes