In [1]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")

this is class

In [2]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    def fun1(a):
        print("this is fun1 inside class")

this is class

In [3]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    name="Vedha"
    age=0.9
    def fun1(a):
        print("this is fun1 inside class")
    print(name, age)

this is class
Vedha 0.9

In [4]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    name="Vedha"
    age=0.9
    def fun1(a):
        print("this is fun1 inside class")
print(name,age)

this is class

NameError: name 'name' is not defined

In [5]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    name="Vedha"
    age=0.9
    def fun1(a):
        print("this is fun1 inside class")
print(Emp.name,Emp.age)

this is class
Vedha 0.9

In [6]:
def fun():
    print("this is fun")
class Emp:
    print("this is class")
    name="Vedha"
    age=0.9
    def fun1(a):
        print("a=",a)
        print("this is fun1 inside class")
print(Emp.name,Emp.age)
Emp.fun1(100)

this is class
Vedha 0.9
a= 100
this is fun1 inside class

In [8]:
def fun():
    print("this is fun")
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def fun1(a):
        print("a=",a)
        print("this is fun1 inside class")
vedha = Emp() # data object
vedha.name="Vedhanvesh"
vedha.age=25
vedha.doj="2017-01-01"
jay=Emp()
jay.name="jayaram"
jay.age=45
jay.doj="2015-08-01"
print(vedha.name, vedha.age, vedha.doj, vedha.company_name, vedha.company_address)
Emp.fun1(10)

this is class
Vedhanvesh 25 2017-01-01 KHYAATHI maithrivanam
a= 10
this is fun1 inside class

In [9]:
def fun():
    print("this is fun")
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def fun1(a):
        print("a=",a)
        print("this is fun1 inside class")
vedha = Emp() # data object
vedha.name="Vedhanvesh"
vedha.age=25
vedha.doj="2017-01-01"
jay=Emp()
jay.name="jayaram"
jay.age=45
jay.doj="2015-08-01"
print(vedha.name, vedha.age, vedha.doj, vedha.company_name, vedha.company_address)
vedha.fun1()

this is class
Vedhanvesh 25 2017-01-01 KHYAATHI maithrivanam
a= <__main__.Emp object at 0x7f6f700a3320>
this is fun1 inside class

In [ ]:
l=[]
l={}
l=()

In [10]:
def fun():
    print("this is fun")
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def fun1(a):
        print("a=",a)
        print("this is fun1 inside class")
vedha = Emp() # data object
vedha.name="Vedhanvesh"
vedha.age=25
vedha.doj="2017-01-01"
jay=Emp()
jay.name="jayaram"
jay.age=45
jay.doj="2015-08-01"
print(vedha.name, vedha.age, vedha.doj, vedha.company_name, vedha.company_address)
vedha.fun1()
Emp.fun1()

this is class
Vedhanvesh 25 2017-01-01 KHYAATHI maithrivanam
a= <__main__.Emp object at 0x7f6f700a1048>
this is fun1 inside class

TypeError: fun1() missing 1 required positional argument: 'a'

In [11]:
def fun():
    print("this is fun")
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def fun1(a):
        print("a=",a)
        print("this is fun1 inside class")
vedha = Emp() # data object
vedha.name="Vedhanvesh"
vedha.age=25
vedha.doj="2017-01-01"
jay=Emp()
jay.name="jayaram"
jay.age=45
jay.doj="2015-08-01"
print(vedha.name, vedha.age, vedha.doj, vedha.company_name, vedha.company_address)
vedha.fun1()
Emp.fun1(vedha)
Emp.fun1(10)

this is class
Vedhanvesh 25 2017-01-01 KHYAATHI maithrivanam
a= <__main__.Emp object at 0x7f6f700a9cc0>
this is fun1 inside class
a= <__main__.Emp object at 0x7f6f700a9cc0>
this is fun1 inside class
a= 10
this is fun1 inside class

In [12]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def fun1(a):
        print("a=",a)
        print("this is fun1 inside class")
vedha = Emp() # data object
vedha.name="Vedhanvesh"
vedha.age=25
vedha.doj="2017-01-01"
vedha.fun1(10)

this is class

TypeError: fun1() takes 1 positional argument but 2 were given

In [13]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def fun1(self):
        print("self=",self)
        print("this is fun1 inside class")
vedha = Emp() # data object
vedha.name="Vedhanvesh"
vedha.age=25
vedha.doj="2017-01-01"
vedha.fun1()

this is class
self= <__main__.Emp object at 0x7f6f700a2278>
this is fun1 inside class

In [14]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def fun1(self):
        print("self=",self)
        print("this is fun1 inside class")
vedha = Emp() # data object
vedha.fun1()
Emp.fun1(vedha)

this is class
self= <__main__.Emp object at 0x7f6f700a2198>
this is fun1 inside class
self= <__main__.Emp object at 0x7f6f700a2198>
this is fun1 inside class

In [16]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def get(self):
        pass
vedha = Emp() # data object
vedha.name="vedhanvesh"
vedha.doj="2017-10-01"
print(vedha.name,vedha.doj)

this is class
vedhanvesh 2017-10-01

In [17]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def get(self):
        return self.name, self.doj, self.company_name, self.company_address
vedha = Emp() # data object
vedha.name="vedhanvesh"
vedha.doj="2017-10-01"
print(vedha.get())

this is class
('vedhanvesh', '2017-10-01', 'KHYAATHI', 'maithrivanam')

In [18]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def get(self):
        return self.name, self.doj, self.company_name, self.company_address
vedha = Emp() # data object
vedha.name="vedhanvesh"
vedha.doj="2017-10-01"
print(vedha.get())

this is class
('vedhanvesh', '2017-10-01', 'KHYAATHI', 'maithrivanam')

In [19]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def set_data(self, e_n, e_doj):
        self.name=e_n
        self.doj=e_doj
    def get(self):
        return self.name, self.doj, self.company_name, self.company_address
vedha = Emp() # data object
'''
vedha.name="vedhanvesh"
vedha.doj="2017-10-01"
'''
vedha.set_data("vedhanvesh","2017-10-01")
print(vedha.get())

this is class
('vedhanvesh', '2017-10-01', 'KHYAATHI', 'maithrivanam')

In [20]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def set_data(self, e_n, e_doj):
        self.name=e_n
        self.doj=e_doj
    def get(self):
        return self.name, self.doj, self.company_name, self.company_address
vedha = Emp() # data object
vedha.set_data("vedhanvesh","2017-10-01")
print(vedha.get())

this is class
('vedhanvesh', '2017-10-01', 'KHYAATHI', 'maithrivanam')

In [21]:
class Emp: # Emp is a class object
    print("this is class")
    company_name="KHYAATHI"
    company_address="maithrivanam"
    def set_data(self, e_n, e_doj):
        self.name=e_n
        self.doj=e_doj
    def get(self):
        return self.name, self.doj, self.company_name, self.company_address
vedha = Emp() # data object
vedha.set_data("vedhanvesh","2017-10-01")
print(vedha.get())
jay=Emp()
print(jay.get())

this is class
('vedhanvesh', '2017-10-01', 'KHYAATHI', 'maithrivanam')

AttributeError: 'Emp' object has no attribute 'name'

In [23]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")

this is class

In [24]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
vedha=Emp()

this is class

In [25]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")
vedha=Emp()

this is class
this is init

In [26]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self):
        print("this is init")
vedha=Emp()
jay=Emp()

this is class
this is init
this is init

In [27]:
class Emp:
    print("this is class")
    def get(self):
        print("this is get")
    def __init__(self, e_n,e_doj):
        print(e_n,e_doj)
        print("this is init")
vedha=Emp("Vedhanvesh","2018-07-01")
jay=Emp("jayaram","2017-09-01")

this is class
Vedhanvesh 2018-07-01
this is init
jayaram 2017-09-01
this is init

In [ ]:
# write a attribute assignment code in init method and get those things using get.