In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("batch52.sqlite3")

In [3]:
cur=con.cursor()

In [5]:
cur.execute("create table customer(id int, name varchar(250))")

In [6]:
cur.execute("insert into customer(id, name) values(1,'JAYARAM')")

In [7]:
con.commit()

In [8]:
names=["kaushik","sanjay","sravani","madhuri","samba"]
import random
for i in range(2,102):
    q="insert into customer(id,name) values(%s, '%s')"%(i, random.choice(names))
    cur.execute(q)
con.commit()

In [9]:
q="select * from customer"
cur.execute(q)

In [10]:
data=cur.fetchall()

In [11]:
print (data)

[(1, 'JAYARAM'), (2, 'samba'), (3, 'sanjay'), (4, 'madhuri'), (5, 'sanjay'), (6, 'madhuri'), (7, 'kaushik'), (8, 'sravani'), (9, 'samba'), (10, 'sanjay'), (11, 'madhuri'), (12, 'samba'), (13, 'madhuri'), (14, 'samba'), (15, 'samba'), (16, 'sravani'), (17, 'madhuri'), (18, 'kaushik'), (19, 'kaushik'), (20, 'madhuri'), (21, 'sravani'), (22, 'samba'), (23, 'sanjay'), (24, 'madhuri'), (25, 'samba'), (26, 'kaushik'), (27, 'sanjay'), (28, 'sanjay'), (29, 'sanjay'), (30, 'sravani'), (31, 'kaushik'), (32, 'madhuri'), (33, 'madhuri'), (34, 'sravani'), (35, 'samba'), (36, 'sravani'), (37, 'samba'), (38, 'samba'), (39, 'sanjay'), (40, 'kaushik'), (41, 'kaushik'), (42, 'samba'), (43, 'sanjay'), (44, 'samba'), (45, 'kaushik'), (46, 'madhuri'), (47, 'kaushik'), (48, 'kaushik'), (49, 'kaushik'), (50, 'sanjay'), (51, 'kaushik'), (52, 'kaushik'), (53, 'sravani'), (54, 'sravani'), (55, 'sravani'), (56, 'samba'), (57, 'sravani'), (58, 'sanjay'), (59, 'sanjay'), (60, 'madhuri'), (61, 'samba'), (62, 'sravani'), (63, 'kaushik'), (64, 'madhuri'), (65, 'sravani'), (66, 'madhuri'), (67, 'kaushik'), (68, 'samba'), (69, 'sravani'), (70, 'sanjay'), (71, 'madhuri'), (72, 'sanjay'), (73, 'samba'), (74, 'sanjay'), (75, 'sanjay'), (76, 'sravani'), (77, 'samba'), (78, 'sravani'), (79, 'sanjay'), (80, 'sanjay'), (81, 'kaushik'), (82, 'kaushik'), (83, 'kaushik'), (84, 'sanjay'), (85, 'sanjay'), (86, 'sanjay'), (87, 'sravani'), (88, 'sravani'), (89, 'madhuri'), (90, 'madhuri'), (91, 'madhuri'), (92, 'sravani'), (93, 'kaushik'), (94, 'madhuri'), (95, 'sravani'), (96, 'kaushik'), (97, 'sravani'), (98, 'kaushik'), (99, 'kaushik'), (100, 'sravani'), (101, 'sanjay')]

In [12]:
q="select count(*) from customer"
cur.execute(q)
print(cur.fetchone())

(101,)

In [13]:
q="select count(*) from customer where name='samba'"
cur.execute(q)
print(cur.fetchone())

(17,)

In [14]:
name=input("enter name:")
q="select count(*) from customer where name='%s'"%name
cur.execute(q)
print(cur.fetchone())

enter name:kaushik
(22,)

In [15]:
name=input("enter name:")
q="select count(*) from customer where name='%s' group by name"%name
cur.execute(q)
print(cur.fetchone())

enter name:
None

In [19]:
#name=input("enter name:")
q="select count(*) from customer group by name"
cur.execute(q)
print(cur.fetchall())

[(1,), (22,), (18,), (17,), (22,), (21,)]

In [21]:
c_id=input("Enter an id:")
q="select * from customer where id=%s"%c_id
cur.execute(q)
print(cur.fetchone())

Enter an id:12
(12, 'samba')

In [22]:
con.close()

In [ ]:
def get_connect()